<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junzijian.cloud.svc.user.mapper.UserDOMapper">
    <resultMap id="BaseResultMap" type="com.junzijian.cloud.framework.model.user.entity.UserDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="id_card" jdbcType="CHAR" property="idCard"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="email" jdbcType="VARCHAR" property="email"/>
        <result column="ding_ding" jdbcType="VARCHAR" property="dingDing"/>
        <result column="machine_id" jdbcType="VARCHAR" property="machineId"/>
        <result column="notify" jdbcType="TINYINT" property="notify"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="feature" jdbcType="VARCHAR" property="feature"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, password, id_card, mobile, email, ding_ding, machine_id, notify, status, 
    feature, gmt_create, gmt_modify
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from user
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from user
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.junzijian.cloud.framework.model.user.entity.UserDO">
    insert into user (id, name, password, 
      id_card, mobile, email, 
      ding_ding, machine_id, notify, 
      status, feature, gmt_create, 
      gmt_modify)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{idCard,jdbcType=CHAR}, #{mobile,jdbcType=VARCHAR}, #{email,jdbcType=VARCHAR}, 
      #{dingDing,jdbcType=VARCHAR}, #{machineId,jdbcType=VARCHAR}, #{notify,jdbcType=TINYINT}, 
      #{status,jdbcType=TINYINT}, #{feature,jdbcType=VARCHAR}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModify,jdbcType=TIMESTAMP})
  </insert>
    <insert id="insertSelective" parameterType="com.junzijian.cloud.framework.model.user.entity.UserDO">
        insert into user
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="password != null">
                password,
            </if>
            <if test="idCard != null">
                id_card,
            </if>
            <if test="mobile != null">
                mobile,
            </if>
            <if test="email != null">
                email,
            </if>
            <if test="dingDing != null">
                ding_ding,
            </if>
            <if test="machineId != null">
                machine_id,
            </if>
            <if test="notify != null">
                notify,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="feature != null">
                feature,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModify != null">
                gmt_modify,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                #{password,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null">
                #{idCard,jdbcType=CHAR},
            </if>
            <if test="mobile != null">
                #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                #{email,jdbcType=VARCHAR},
            </if>
            <if test="dingDing != null">
                #{dingDing,jdbcType=VARCHAR},
            </if>
            <if test="machineId != null">
                #{machineId,jdbcType=VARCHAR},
            </if>
            <if test="notify != null">
                #{notify,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="feature != null">
                #{feature,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.junzijian.cloud.framework.model.user.entity.UserDO">
        update user
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="password != null">
                password = #{password,jdbcType=VARCHAR},
            </if>
            <if test="idCard != null">
                id_card = #{idCard,jdbcType=CHAR},
            </if>
            <if test="mobile != null">
                mobile = #{mobile,jdbcType=VARCHAR},
            </if>
            <if test="email != null">
                email = #{email,jdbcType=VARCHAR},
            </if>
            <if test="dingDing != null">
                ding_ding = #{dingDing,jdbcType=VARCHAR},
            </if>
            <if test="machineId != null">
                machine_id = #{machineId,jdbcType=VARCHAR},
            </if>
            <if test="notify != null">
                notify = #{notify,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="feature != null">
                feature = #{feature,jdbcType=VARCHAR},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.junzijian.cloud.framework.model.user.entity.UserDO">
    update user
    set name = #{name,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      id_card = #{idCard,jdbcType=CHAR},
      mobile = #{mobile,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      ding_ding = #{dingDing,jdbcType=VARCHAR},
      machine_id = #{machineId,jdbcType=VARCHAR},
      notify = #{notify,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      feature = #{feature,jdbcType=VARCHAR},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>