<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATH">logs/sc-netflix/</Property>
        <!--<Property name="LOG_PATH">/usr/local/var/logs/bebopze-cloud/</Property>-->
        <Property name="LOG_PATTERN">[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} [%X{traceId},%X{spanId}] - %msg%n</Property>
    </Properties>

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>

        <RollingFile name="App-File-Appender" fileName="${LOG_PATH}/cloud_netflix_log.log"
                     filePattern="${LOG_PATH}/$${date:yyyy-MM}/$${date:dd}/cloud-netflix-%d{yyyy-MM-dd}-%i.log">

            <PatternLayout>
                <Pattern>${LOG_PATTERN}</Pattern>
            </PatternLayout>

            <Policies>
                <!-- 每天生成一个日志文件 -->
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <!-- 每到100M生成一个日志文件 -->
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>

            <!-- 单天最大保存文件数 超过自动覆盖-->
            <DefaultRolloverStrategy max="50"/>

        </RollingFile>
    </Appenders>


    <Loggers>
        <logger level="INFO" name="com.bebopze">
            <AppenderRef ref="App-File-Appender"/>
        </logger>
        <root level="INFO">
            <AppenderRef ref="Console"/>
        </root>
    </Loggers>
</Configuration>