<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.junzijian.cloud.svc.product.mapper.ProductDOMapper">
    <resultMap id="BaseResultMap" type="com.junzijian.cloud.framework.model.product.entity.ProductDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="name" jdbcType="VARCHAR" property="name"/>
        <result column="price" jdbcType="DECIMAL" property="price"/>
        <result column="sale_time" jdbcType="TIMESTAMP" property="saleTime"/>
        <result column="is_sale" jdbcType="TINYINT" property="isSale"/>
        <result column="is_hot" jdbcType="TINYINT" property="isHot"/>
        <result column="is_new" jdbcType="TINYINT" property="isNew"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
    </resultMap>
    <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs"
               type="com.junzijian.cloud.framework.model.product.entity.ProductDO">
        <result column="info" jdbcType="LONGVARCHAR" property="info"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, name, price, sale_time, is_sale, is_hot, is_new, status, gmt_create, gmt_modify
  </sql>
    <sql id="Blob_Column_List">
    info
  </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="ResultMapWithBLOBs">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from product
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from product
    where id = #{id,jdbcType=BIGINT}
  </delete>
    <insert id="insert" parameterType="com.junzijian.cloud.framework.model.product.entity.ProductDO">
    insert into product (id, name, price, 
      sale_time, is_sale, is_hot, 
      is_new, status, gmt_create, 
      gmt_modify, info)
    values (#{id,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, 
      #{saleTime,jdbcType=TIMESTAMP}, #{isSale,jdbcType=TINYINT}, #{isHot,jdbcType=TINYINT}, 
      #{isNew,jdbcType=TINYINT}, #{status,jdbcType=TINYINT}, #{gmtCreate,jdbcType=TIMESTAMP}, 
      #{gmtModify,jdbcType=TIMESTAMP}, #{info,jdbcType=LONGVARCHAR})
  </insert>
    <insert id="insertSelective" parameterType="com.junzijian.cloud.framework.model.product.entity.ProductDO">
        insert into product
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="price != null">
                price,
            </if>
            <if test="saleTime != null">
                sale_time,
            </if>
            <if test="isSale != null">
                is_sale,
            </if>
            <if test="isHot != null">
                is_hot,
            </if>
            <if test="isNew != null">
                is_new,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModify != null">
                gmt_modify,
            </if>
            <if test="info != null">
                info,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                #{price,jdbcType=DECIMAL},
            </if>
            <if test="saleTime != null">
                #{saleTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isSale != null">
                #{isSale,jdbcType=TINYINT},
            </if>
            <if test="isHot != null">
                #{isHot,jdbcType=TINYINT},
            </if>
            <if test="isNew != null">
                #{isNew,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="info != null">
                #{info,jdbcType=LONGVARCHAR},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective"
            parameterType="com.junzijian.cloud.framework.model.product.entity.ProductDO">
        update product
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="price != null">
                price = #{price,jdbcType=DECIMAL},
            </if>
            <if test="saleTime != null">
                sale_time = #{saleTime,jdbcType=TIMESTAMP},
            </if>
            <if test="isSale != null">
                is_sale = #{isSale,jdbcType=TINYINT},
            </if>
            <if test="isHot != null">
                is_hot = #{isHot,jdbcType=TINYINT},
            </if>
            <if test="isNew != null">
                is_new = #{isNew,jdbcType=TINYINT},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
            <if test="info != null">
                info = #{info,jdbcType=LONGVARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKeyWithBLOBs"
            parameterType="com.junzijian.cloud.framework.model.product.entity.ProductDO">
    update product
    set name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      sale_time = #{saleTime,jdbcType=TIMESTAMP},
      is_sale = #{isSale,jdbcType=TINYINT},
      is_hot = #{isHot,jdbcType=TINYINT},
      is_new = #{isNew,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
      info = #{info,jdbcType=LONGVARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
    <update id="updateByPrimaryKey" parameterType="com.junzijian.cloud.framework.model.product.entity.ProductDO">
    update product
    set name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      sale_time = #{saleTime,jdbcType=TIMESTAMP},
      is_sale = #{isSale,jdbcType=TINYINT},
      is_hot = #{isHot,jdbcType=TINYINT},
      is_new = #{isNew,jdbcType=TINYINT},
      status = #{status,jdbcType=TINYINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>