<Configuration status="WARN">
    <Properties>
        <Property name="LOG_PATH">logs/sc-netflix/</Property>
        <!--
        格式化输出：
            %d：    日期，
            %thread：   线程名，
            %-5level：级别从左显示5个字符宽度
            %c{1}：      显示简单类名
            %logger{50}：显示全类名 （最长50个字符，超过则会缩写  eg：org.springframework ==> o.s）
            %L：输出代码中的行号  ==> 同步模式才支持
            %msg：日志消息，
            %n：是换行符

            %X{X-B3-TraceId:-}：输出TraceId
            %X{X-B3-SpanId:-}： 输出SpanId
        -->
        <Property name="LOG_PATTERN_SIMPLE">[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1}:%L [%X{traceId}/%X{spanId}] - %msg%n</Property>
        <Property name="LOG_PATTERN_DETAIL">[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] [%logger{50}:%L] [%X{traceId}/%X{spanId}] - %msg%n</Property>
    </Properties>

    <Appenders>

        <Console name="Console" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN_DETAIL}"/>
        </Console>

        <RollingFile name="App-File-Appender" fileName="${LOG_PATH}/log.log"
                     filePattern="${LOG_PATH}/$${date:yyyy-MM}/$${date:dd}/biz-%d{yyyy-MM-dd}-%i.log">

            <PatternLayout>
                <Pattern>${LOG_PATTERN_SIMPLE}</Pattern>
            </PatternLayout>

            <Policies>
                <!-- 每天生成一个日志文件 -->
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <!-- 每到100M生成一个日志文件 -->
                <SizeBasedTriggeringPolicy size="100 MB"/>
            </Policies>

            <!-- 单天最大保存文件数 超过自动覆盖-->
            <DefaultRolloverStrategy max="50"/>

        </RollingFile>
    </Appenders>


    <Loggers>
        <logger level="INFO" name="com.yunche">
            <AppenderRef ref="App-File-Appender"/>
        </logger>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>