<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bebopze.cloud.svc.order.mapper.OrderDOMapper">
    <resultMap id="BaseResultMap" type="com.bebopze.cloud.framework.model.order.entity.OrderDO">
        <id column="id" jdbcType="BIGINT" property="id"/>
        <result column="user_id" jdbcType="BIGINT" property="userId"/>
        <result column="product_id" jdbcType="BIGINT" property="productId"/>
        <result column="product_name" jdbcType="VARCHAR" property="productName"/>
        <result column="product_price" jdbcType="DECIMAL" property="productPrice"/>
        <result column="product_num" jdbcType="INTEGER" property="productNum"/>
        <result column="product_total_price" jdbcType="DECIMAL" property="productTotalPrice"/>
        <result column="status" jdbcType="TINYINT" property="status"/>
        <result column="version" jdbcType="BIGINT" property="version"/>
        <result column="gmt_create" jdbcType="TIMESTAMP" property="gmtCreate"/>
        <result column="gmt_modify" jdbcType="TIMESTAMP" property="gmtModify"/>
    </resultMap>
    <sql id="Base_Column_List">
        id, user_id, product_id, product_name, product_price, product_num, product_total_price,
        status, version, gmt_create, gmt_modify
    </sql>
    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from tb_order
        where id = #{id,jdbcType=BIGINT}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from tb_order
        where id = #{id,jdbcType=BIGINT}
    </delete>
    <insert id="insert" parameterType="com.bebopze.cloud.framework.model.order.entity.OrderDO">
        insert into tb_order (id, user_id, product_id,
        product_name, product_price, product_num,
        product_total_price, status, version,
        gmt_create, gmt_modify)
        values (#{id,jdbcType=BIGINT}, #{userId,jdbcType=BIGINT}, #{productId,jdbcType=BIGINT},
        #{productName,jdbcType=VARCHAR}, #{productPrice,jdbcType=DECIMAL}, #{productNum,jdbcType=INTEGER},
        #{productTotalPrice,jdbcType=DECIMAL}, #{status,jdbcType=TINYINT}, #{version,jdbcType=BIGINT},
        #{gmtCreate,jdbcType=TIMESTAMP}, #{gmtModify,jdbcType=TIMESTAMP})
    </insert>
    <insert id="insertSelective" parameterType="com.bebopze.cloud.framework.model.order.entity.OrderDO">
        insert into tb_order
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="productId != null">
                product_id,
            </if>
            <if test="productName != null">
                product_name,
            </if>
            <if test="productPrice != null">
                product_price,
            </if>
            <if test="productNum != null">
                product_num,
            </if>
            <if test="productTotalPrice != null">
                product_total_price,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="version != null">
                version,
            </if>
            <if test="gmtCreate != null">
                gmt_create,
            </if>
            <if test="gmtModify != null">
                gmt_modify,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="productId != null">
                #{productId,jdbcType=BIGINT},
            </if>
            <if test="productName != null">
                #{productName,jdbcType=VARCHAR},
            </if>
            <if test="productPrice != null">
                #{productPrice,jdbcType=DECIMAL},
            </if>
            <if test="productNum != null">
                #{productNum,jdbcType=INTEGER},
            </if>
            <if test="productTotalPrice != null">
                #{productTotalPrice,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                #{status,jdbcType=TINYINT},
            </if>
            <if test="version != null">
                #{version,jdbcType=BIGINT},
            </if>
            <if test="gmtCreate != null">
                #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                #{gmtModify,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.bebopze.cloud.framework.model.order.entity.OrderDO">
        update tb_order
        <set>
            <if test="userId != null">
                user_id = #{userId,jdbcType=BIGINT},
            </if>
            <if test="productId != null">
                product_id = #{productId,jdbcType=BIGINT},
            </if>
            <if test="productName != null">
                product_name = #{productName,jdbcType=VARCHAR},
            </if>
            <if test="productPrice != null">
                product_price = #{productPrice,jdbcType=DECIMAL},
            </if>
            <if test="productNum != null">
                product_num = #{productNum,jdbcType=INTEGER},
            </if>
            <if test="productTotalPrice != null">
                product_total_price = #{productTotalPrice,jdbcType=DECIMAL},
            </if>
            <if test="status != null">
                status = #{status,jdbcType=TINYINT},
            </if>
            <if test="version != null">
                version = #{version,jdbcType=BIGINT},
            </if>
            <if test="gmtCreate != null">
                gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
            </if>
            <if test="gmtModify != null">
                gmt_modify = #{gmtModify,jdbcType=TIMESTAMP},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.bebopze.cloud.framework.model.order.entity.OrderDO">
    update tb_order
    set user_id = #{userId,jdbcType=BIGINT},
      product_id = #{productId,jdbcType=BIGINT},
      product_name = #{productName,jdbcType=VARCHAR},
      product_price = #{productPrice,jdbcType=DECIMAL},
      product_num = #{productNum,jdbcType=INTEGER},
      product_total_price = #{productTotalPrice,jdbcType=DECIMAL},
      status = #{status,jdbcType=TINYINT},
      version = #{version,jdbcType=BIGINT},
      gmt_create = #{gmtCreate,jdbcType=TIMESTAMP},
      gmt_modify = #{gmtModify,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>